/* CSS variables (--) in :root to signify they will be used multiple times */
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

/* Background */

html {
    min-height: 100%;
    background-image: url(./images/night_sky.webp);
    background-size: auto;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position:bottom;
 }

/* Header */

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
}

/* Grid */

.container {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#square {
    display: grid;
    /* fr (fraction) divides space so grid possible */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 100vh;
    height: 100vh;
}

.cell {
    padding: 1em;
    border: 1px solid gray;
    background-color: aliceblue;
}  

/* Controls */

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

button {
    margin: 20px;
    font-size: large;
    background-color: aliceblue;
    border-radius: 6px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Credits */

.credits {
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}