/* CSS variables (--) in :root to signify they will be used multiple times */
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
 
/* Background */

html {
    min-height: 100%;
    background-image: url(./images/night_sky.webp);
    background-size: auto;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position:bottom;
 }

/* Header */

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}

/* Grid */

.container {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#square {
    display: grid;
    /* fr (fraction) divides space so grid possible */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: auto;
    height: auto;
}

.cell {
    padding: 1em;
    border: 1px solid gray;
    background-color: aliceblue;
}  

/* Controls */

.controls {
    display: flex;
    justify-content: center;
    padding: 20px;
}

button {
    margin: 20px;
    border-radius: 14px 8px;
    font-size: large;
}

/* Credits */

.credits {
    margin-bottom:50px;
}